@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply box-border list-none p-0 m-0 scroll-smooth;
    }

    body {
        @apply bg-white text-black min-h-screen font-inter text-xs;
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center
    }
    .alert {
        @apply text-xs p-1 bg-transparent;
    }
    .custom-toast{
        @apply inline-flex h-8 w-8 shrink-0 items-center justify-center rounded-lg;
    }
    .unfollow-modal-btn{
        @apply w-full border-t-2 text-center p-3;
    }

}

@layer components {
    .form-container {
        @apply w-full max-w-[337px] max-h-[920px] px-10 flex flex-col gap-3 mb-3 justify-center items-center text-center;
    }
    .input-container {
        @apply relative;
    }

    .input-form {
        @apply w-full border border-gray-300 p-2 rounded-sm focus:border-black focus:ring-0 focus:bg-transparent;
    }

    .password-toggle {
        @apply absolute top-[50%] right-[10px] translate-y-[-50%] cursor-pointer text-sm;
    }

    .grey-button{
        @apply bg-slate-200 p-3 rounded-md font-bold;
    }
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}